/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */

/* .body {
  padding: 10px;
  background-color: white;
} */

/* .carousel {
  width: 400px;
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 15px;
  background:grey;
  border-radius: 15px;
  border: 1px solid rgb(65, 54, 54);
  font-size: 24px;
  line-height: 24px;
} */


.prevImage {
  display: block;
  height: 20px;
  width: 20px;
  background: rgb(148, 148, 122);
}

.nextImage {
  display: block;
  height: 20px;
  width: 20px;
  background: rgb(148, 148, 122);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.images {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background: red;
  border-radius: 4px;
  overflow-x: hidden;
}

.image {
  display: block;
  height: 50px;
  width: 50px;
  background:rgb(95, 74, 74);
}


