/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */


.body { 
    padding: 10px;
    background-color: white

}

.carousel {
    width: 398px;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 15px;
}
  
.carousel img {
    height: 130px;
    width: 130px;
    display: block;
}

.arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: white;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: rgb(44, 43, 43);
    display: block;
  }
  
  .action:focus {
    outline: none;
  }
  
  .action:hover {
    background: white;
    cursor: pointer;
  }
  
  .back {
    left: 5px;
  }
  
  .next {
    right: 5px;
  }
  

  .imgstore {
    width: 400px;
    overflow: hidden;
  }
  
  .imgstore ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* font-size: 0; */
  }
  
  .imgstore li {
    display: inline-block;
  }