.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
}

.sky {
    background-color: rgb(106, 175, 240);
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-color: rgb(116, 83, 83);
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px 
    /* ^putting the hight of the sky to flip the sides */
}

.bird {
    background-color: rgb(194, 126, 71);
    width: 60px;
    height: 45px;
    position: absolute;
}

.obstacle {
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;
}

